---
Language: Cpp
BasedOnStyle: LLVM

BreakBeforeBraces: Allman
ColumnLimit: 80
IndentWidth: 2
AlwaysBreakTemplateDeclarations: false
BinPackArguments: true
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
KeepEmptyLinesAtTheStartOfBlocks: false
#SpaceAfterTemplateKeyword: true
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
Standard: Cpp11
TabWidth: 2
UseTab: Never

